html {
  body {
    #viewerContainer {
      all: unset;
      --header-height: 50px;
      --footer-height: 50px;

      .svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
      }

      #close {
        opacity: 0.4;
      }
      #container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000e9;
        color: #fff;
        z-index: 10000;

        #header,
        #controls,
        #footer {
          width: 100%;
          height: var(--header-height);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 1rem;
          position: absolute;
          z-index: 50000;
          background-color: #0000006e;
          transition: opacity 0.5s ease-in;
        }

        /* Header section */
        #header {
          top: 0;

          #headerContent {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;

            #icons {
              display: flex;
              gap: 1rem;
            }
          }
        }

        .showHeaderControls {
          position: absolute;
          z-index: 50000;
          justify-content: flex-end;
          padding-right: 2rem;
          background-color: transparent;

          .svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        /* Main section */
        #main {
          all: unset;
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
          z-index: 10000;
          overflow: scroll;
          height: calc(
            100% - var(--header-height) - var(--footer-height) - 1px
          );

          &::-webkit-scrollbar {
            display: none;
          }

          img {
            all: unset;
            user-select: none;
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: inline-block;
          }

          #controls {
            position: fixed;
            top: 50%;
            padding: 0 2.25rem;
            background-color: transparent;

            div {
              color: #ffffff80;
            }
          }
        }

        /* Footer section */
        #footer {
          bottom: 0;
          justify-content: center;
        }
      }
    }
  }
}
